.waf-theme .waf-combobox2 {
  border: 1px solid;
}
.waf-theme .waf-combobox2 input {
  width: -webkit-calc(100% - 1.5rem);
  width: calc(100% - 1.5rem);
  height: 100%;
  float: left;
}
.waf-theme .waf-combobox2 button {
  width: 1.5rem;
  height: 100%;
  float: right;
  position: relative;
  outline: none;
}
.waf-theme .waf-combobox2 button:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: black;
  border-bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -4px;
}
.waf-theme .waf-combobox2 .waf-combobox2-part-list {
    display: none;
    position: relative;
    width: 100%;
    max-height: 15rem;
    background-color: white
    border: 1px solid gray;
    overflow-y: auto;
}
.waf-theme .waf-combobox2 .waf-combobox2-part-list li {
    padding: 0rem 1rem;
    cursor: pointer !important;
    border: none;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.waf-theme .waf-combobox2 .waf-combobox2-part-list li:hover {
    background: #f5f5f5;
}

/* DEFAULT */
.waf-theme.default .waf-combobox2 input {
  border-radius: 4px 0px 0px 4px;
}
.waf-theme.default .waf-combobox2 button {
  border-radius: 0;
}

/* LIGHT */
.waf-theme.light .waf-combobox2 input {
  border-radius: 10px 0px 0px 10px;
}

/* LILAC */
.waf-theme.lilac .waf-combobox2 input {
  border-radius: 4px 0px 0px 4px;
}
.waf-theme.lilac .waf-combobox2 button {
  border-radius: 0px 4px 4px 0px;
}
.waf-theme.lilac .waf-combobox2-part-list {
  border: 1px solid #cccccc !important;
  border-radius: 3px !important;
  background: #ffffff;
}

/* SOFT GRAY */
.waf-theme.softGray .waf-combobox2 input {
  border-radius: 3px 0 0 3px;
  background-color: transparent;
}
.waf-theme.softGray .waf-combobox2-part-list {
    color: #333333;
    border-color: #cccccc;
    background-color: #fff;
    border-radius: 2px;
}
